/* container styles */
.container {
  margin: 0 auto;
  max-width: 1360px;
  padding: 15px;
}

/* header styles */
/* nav styles */
.nav {
  display: flex;
  align-content: center;
  justify-content: space-between;

  padding: 15px 0 15px 15px;
}

.nav__title,
.nav__list {
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-content: center;

  list-style-type: none;
  padding: 0;
  width: 50%;
}

.nav__item {
  margin-right: 10px;
}

.nav__item--last {
  margin-right: 0;
}

.nav__link {
  color: #333;
  padding: 10px;
  text-decoration: none;
}

.nav__link:hover {
  color: #fff;
}

/* intro styles */
.intro {
  display: flex;
  height: 300px;
}

.intro__info,
.intro__img {
  width: 50%;
}

.intro__info {
  padding: 10px 15px;
}

.intro__img {
  background-color: #cccccc;
  background-image: url("{{site.baseurl}}/images/ocean-wave.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* responsive styles */
@media screen and (max-width: 1000px) {
  .intro__info {
    width: 100%;
  }

  .intro__img {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .nav {
    flex-direction: column;
  }

  .nav__list {
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .intro__info br {
    display: none;
  }
}